/* type */
h1, h2, h3, h4, h5, h6
{
  font-family: 'Nunito', sans-serif;
  font-weight: 700;
  margin: 1rem 0;
  color: #fff;
  line-height: 1.2;
  margin-bottom: 1rem;
}

p {
	font-family: 'Nunito', sans-serif;
}
	

.header h1 {
	font-size: 4rem;
}

.header p {
	color: rgba(255, 255, 255, 0.8);
}

.header a {
	color: rgb(255, 238, 173);
}

.intro {
	/*
	background-image: linear-gradient( 135deg, #F97794 10%, #623AA2 100%);
	*/
	background-image: url("../img/trianglify.svg");
	background-size: cover;
}


.location-container {
	/* background-color: #f4f5f6; */
	margin-top: 50px;
	/* margin-bottom: 50px; */
}

.pay-period-heading {
	margin-top: 25px;
	margin-bottom: 25px;
}


.location-intro, .pay-info {
	max-width: 850px;
	margin-left: auto;
	margin-right: auto;
}

.pay-info {
	margin-top: 25px;
}

.location-intro h2 {
	color: rgb(34, 34, 34);
}

.pay-container {
	background-color: #ffffff;
}

.pay-container h1, h2, h3, h4, h5, h6 {
	color: rgb(34, 34, 34);
}

.intro-left-content {
	position: relative;
    top: 50%;
    transform: translateY(-50%);
    padding: 80px;
}

.location-icons a {
    margin: 0 10px 0 0;
    color: #333;
    display: inline-block;
    width: 50px;
    height: 50px;
    border-radius: 25px;
    line-height: 50px;
    font-size: 13px;
    text-align: center;
    -webkit-transition: all 0.2s ease-out;
    -moz-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
    vertical-align: bottom;
	/*
    border: solid 2px #333;
	*/
}

.sw {
	background-image: url("../img/swx50.png");
	background-size: cover;
}

.ucf {
	background-image: url("../img/ucfx50.png");
	background-size: cover;
}

.stan {
	background-image: url("../img/stanx50.png");
	background-size: cover;
}

.villanova {
	background-image: url("../img/villanovax50.png");
	background-size: cover;
}

.bermuda {
	background-image: url("../img/bermuda.svg");
	background-size: cover;
}

.canada {
	background-image: url("../img/canada.svg");
	background-size: cover;
}

.hongkong {
	background-image: url("../img/hong-kong.svg");
	background-size: cover;
}

.italy {
	background-image: url("../img/italy.svg");
	background-size: cover;
}

.netherlands {
	background-image: url("../img/netherlands.svg");
	background-size: cover;
}

.philippines {
	background-image: url("../img/philippines.svg");
	background-size: cover;
}

.singapore {
	background-image: url("../img/singapore.svg");
	background-size: cover;
}

/*
.svg-inline--fa {
	color: #9c47fc;
	background: -webkit-linear-gradient(#9c47fc, #356ad2);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}
*/
.pay-info svg * {
  fill: url(#lgrad);
}

.cd-top {
  display: inline-block;
  height: 40px;
  width: 40px;
  position: fixed;
  bottom: 40px;
  right: 10px;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
  /* image replacement properties */
  overflow: hidden;
  text-indent: 100%;
  white-space: nowrap;
  background: rgba(232, 98, 86, 0.8) url(../img/cd-top-arrow.svg) no-repeat center 50%;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: opacity .3s 0s, visibility 0s .3s, background-color .3s 0s;
  transition: opacity .3s 0s, visibility 0s .3s, background-color .3s 0s;
}

.cd-top.cd-top--show,
.cd-top.cd-top--fade-out,
.cd-top:hover {
  -webkit-transition: opacity .3s 0s, visibility 0s 0s, background-color .3s 0s;
  transition: opacity .3s 0s, visibility 0s 0s, background-color .3s 0s;
}

.cd-top.cd-top--show {
  /* the button becomes visible */
  visibility: visible;
  opacity: 1;
}

.cd-top.cd-top--fade-out {
  /* if the user keeps scrolling down, the button is out of focus and becomes less visible */
  opacity: .5;
}

.cd-top:hover {
  background-color: #e86256;
  opacity: 1;
}

@media only screen and (min-width: 768px) {
	.cd-top {
		right: 20px;
		bottom: 20px;
	}
}

@media only screen and (min-width: 1024px) {
  .cd-top {
    height: 60px;
    width: 60px;
    right: 30px;
    bottom: 30px;
  }
}

@media only screen and (max-width: 576px) {
	.location-intro {
		text-align: center;
	}
	
	.header {
		padding: 20px 10px;
		margin-top: 20px;
	}
}

@media only screen and (min-width: 576px) {
	#cal-large {
		display: block;
	}
}

#calendar-view, #back {
	display: inline-block;
	text-align: center;
	border-radius: 6px;
	cursor: pointer;
	margin: 0;
	font-family: Nunito Sans,sans-serif;
	text-shadow: none;
	
	background: #fc5d76;
	border: 0;
	font-size: 15px;
	color: #fff;
	font-weight: 700;
	transition: all .2s ease;
}

#calendar-view:hover, #back:hover {
	background: #fb2b4c;
	outline: 0;
}

#calendar-view a, #back a {
	color: #fff;
	font-family: 'Nunito', sans-serif;
}

#back {
	background: #575757;
}

#back:hover {
	background: #333
}

#cal-large {
	display: none;
}
